@charset "utf-8";
/* CSS Document */
/*「p」タグのid「id1」の設定*/
p#id1
{
    /*文字の色：青*/
    color:blue;
}

/*「p」タグのid「id2」の設定*/
p#id2
{
    /*文字の色：緑色*/
    color:green;
}

/*「p」タグのid「id4」の設定*/
p#id4
{
    /*文字の色：紫色(rgbでの色指定)*/
    color:#990099;
}